.heade {
  padding-top: 52px;
  margin-bottom: 114px;
}

.panel {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-family: Poppins;
  font-size: 29px;
  font-style: normal;
  font-weight: 800;
  line-height: 153.5%;
}

.right_panel {
  display: flex;
  align-items: center;
  gap: 88px;
}

.knob_text,
.knob_texto {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  position: relative;
}

.knob_text::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2.4px;
  background-color: #dc7000;
  bottom: -14px;
  left: 0px;
  transform: scaleX(0);
  transition: transform 0.5s linear;
}

.knob_text:hover::after,
.knob_text.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.knob_text:hover {
  color: orange;
}

.knob {
  width: 131px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fa9021;
  transition: transform 0.5s linear;
}

.knob:hover {
  background: #99cc00;
  transform: scale(1.3);
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
