.heade {
  padding-top: 52px;
  margin-bottom: 114px;
}

.panel {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-family: Poppins;
  font-size: 29px;
  font-style: normal;
  font-weight: 800;
  line-height: 153.5%;
}

.right_panel {
  display: flex;
  align-items: center;
  gap: 88px;
}

.knob_text,
.knob_texto {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  position: relative;
}

.knob_text::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2.4px;
  background-color: #dc7000;
  bottom: -14px;
  left: 0px;
  transform: scaleX(0);
  transition: transform 0.5s linear;
}

.knob_text:hover::after,
.knob_text.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.knob_text:hover {
  color: orange;
}

.knob {
  width: 131px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fa9021;
  transition: transform 0.5s linear;
}

.knob:hover {
  background: #99cc00;
  transform: scale(1.3);
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
body {
  background-color: black;
}

.container {
  margin: 0 50px;
}

.logo {
  color: #FFF;
  font-family: Poppins;
  font-size: 29px;
  font-style: normal;
  font-weight: 800;
  line-height: 153.5%;
}

.all {
  margin: 0 110px;
}

.for_photo {
  background-image: url(/assets/images/about_us_images/Rectangle\ 6.png);
  height: 656px;
  background-repeat: no-repeat;
  background-position: right;
}

.subpanel {
  margin-top: 25px;
}

.left_subpanel {
  padding: 80px 0;
}

.p_panel {
  margin-bottom: 38px;
  color: #E47500;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 208.5%;
}

.home_text_p_panel {
  text-decoration: none;
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 208.5%;
}

.head_text_subpanel {
  margin-bottom: 25px;
  white-space: pre;
  color: #FFF;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 180.5%;
}

.head_subtext_subpanel {
  color: #FFF;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 208.5%;
  white-space: pre;
}

.subpanel_knob {
  border: none;
  margin-top: 57px;
  border-radius: 40px;
  background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
  color: #FFF;
  font-family: Poppins;
  padding: 10px 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: transform 1s linear;
}

.subpanel_knob:hover {
  border-radius: 40px;
  background: linear-gradient(76deg, #FB9E3C 2.08%, #FA8305 117.25%);
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  border: none;
  font-weight: 500;
  line-height: normal;
  transform: scale(110%);
}

.us_work {
  margin-bottom: 147px;
}

.text_work_team {
  color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 180.5%;
  margin-bottom: 63px;
}

.three_block {
  display: flex;
  gap: 43px;
}

.block {
  padding: 64px 37px;
  border-radius: 20px;
  background: #1C140F;
}

.block_knob1 {
  padding: 7px 25px 6px 24px;
  border: none;
  border-radius: 8px;
  background: rgba(176, 0, 220, 0.11);
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
  transition: transform 1s linear;
}

.block_knob1:hover {
  background: rgba(0, 220, 141, 0.11);
  transform: scale(1.15);
}

.block_head_text {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 187.5%;
}

.block_subtext {
  white-space: pre;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
}

.block_knob2 {
  padding: 7px 25px 6px 24px;
  border: none;
  border-radius: 8px;
  background: rgba(220, 66, 0, 0.11);
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
  transition: transform 1s linear;
}

.block_knob2:hover {
  background: rgba(176, 0, 220, 0.11);
  transform: scale(1.15);
}

.block_knob3 {
  padding: 7px 25px 6px 24px;
  border: none;
  border-radius: 8px;
  background: rgba(0, 220, 141, 0.11);
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
  transition: transform 1s linear;
}

.block_knob3:hover {
  background: rgba(220, 66, 0, 0.11);
  transform: scale(1.15);
}

.lore_game {
  background: #1C140F;
}

.game {
  display: flex;
  padding-top: 113px;
}

.left {
  margin-right: 95px;
}

.head_head-text {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 202.5%;
  margin-bottom: 14px;
  margin-top: 21px;
}

.photo_head_text {
  color: #FFF;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 157.5%;
  white-space: pre;
}

.photo_head_subtext {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 202.5%;
  white-space: pre;
}

.down_our_recet {
  margin-top: 157px;
  margin-bottom: 153px;
}

.block_down_our_recet {
  width: 1135px;
  height: 189px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #1C140F;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stay_head_lore_text {
  color: #FFF;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.stay_head_lore_subtext {
  white-space: pre;
  color: #FFF;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container_for_mail {
  position: relative;
  display: inline-block;
}

.put {
  width: 385.679px;
  height: 48px;
  border-radius: 8px;
  background: #FFF;
  color: #898989;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 14px;
}

.input_button {
  position: absolute;
  top: 16%;
  bottom: 50%;
  right: 7px;
  height: 100%;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 104.996px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #DC7000;
  border: none;
}

.input_button:hover {
  background: linear-gradient(to bottom right, #ff6600 0%, #ff6699 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease both;
}

@keyframes gradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.foot {
  margin-top: 73px;
  margin-bottom: 56px;
}

.foot_text {
  margin-bottom: 15px;
  color: #FFF;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.all_foot {
  display: flex;
  justify-content: space-evenly;
}

.left_foot {
  display: flex;
  flex-direction: column;
}

.text_left_foot {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: pre;
}

.sub_text_left_foot {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right_foot_1 {
  display: flex;
  gap: 60px;
}

.down_foot_text {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 186.3%;
  white-space: pre;
  transition: transform 1s linear;
}

.right_foot1 {
  display: flex;
  flex-direction: column;
}

.down_foot_text:hover {
  transform: translateX(10px);
  color: #E47500;
}

.right_foot2 {
  display: flex;
  flex-direction: column;
}

.right_foot3 {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.foot_socia {
  width: 39px;
  height: 39px;
  background: #FFF;
  border-radius: 50px;
}

.facebook {
  transition: transform 1s linear;
}

.facebook:hover {
  background: linear-gradient(to top right, #00cc00 0%, #0000ff 100%);
  background-size: 400% 400%;
  animation: gradient 3s ease both;
  transform: scale(1.1);
}

@keyframes gradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.instagram {
  transition: transform 1s linear;
}

.instagram:hover {
  background: linear-gradient(to bottom right, #0000ff 0%, #ff00ff 100%);
  background-size: 400% 400%;
  animation: gradient 3s ease both;
  transform: scale(1.1);
}

.twitter {
  transition: transform 1s linear;
}

.twitter:hover {
  background: linear-gradient(to bottom right, #000099 0%, #ccccff 100%);
  background-size: 400% 400%;
  animation: gradient 3s ease both;
  transform: scale(1.1);
}

.linkedin {
  transition: transform 1s linear;
}

.linkedin:hover {
  background: linear-gradient(to top right, #000099 0%, #00ccff 100%);
  background-size: 400% 400%;
  animation: gradient 3s ease both;
  transform: scale(1.1);
}

.foot_svv {
  padding: 13px;
}

.down_text {
  color: #FFF;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 190.6%;
  margin: 15px;
  margin-top: 29px;
  padding-bottom: 29px;
  display: flex;
  justify-content: center;
}

.left_head_lore_text {
  color: #FFF;
  white-space: pre;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 187.5%;
}

.spider_text {
  white-space: pre;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
  margin-bottom: 17px;
}

.team {
  margin-top: 148px;
}

.block_box {
  display: flex;
}

.box {
  border-radius: 20px;
  background: #1C140F;
  padding: 35px 86px 30px 86px;
  margin-right: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people {
  transition: transform 1s linear;
}

.people:hover {
  transform: scale(1.1);
}

.head_box {
  color: #FFF;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 202.5%;
}

.subhead_box {
  color: #E8E8E8;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 202.5%;
}/*# sourceMappingURL=about.css.map */