body {
    background-color: black;
}

.heade {
    padding-top: 52px;
    background-image: url(/assets/images/home_images/joystick1.png);
    background-size: 41%;
    background-repeat: no-repeat;
    position: relative;
    background-position: top right 65px;
    padding-bottom: 170px;
}

.container {
    margin: 0 50px;
}

.all {
    margin: 0 150px;
}

.panel {
    display: flex;
    justify-content: space-between;
}

.right_panel {
    display: flex;
    align-items: center;
    gap: 88px;
}


.knob_text,
.knob_texto {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;
}

.knob_text::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2.4px;
    background-color: #DC7000;
    bottom: -14px;
    left: 0px;
    transform: scaleX(0);
    transition: transform 0.5s linear;
}

.knob_text:hover::after,
.knob_text.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.knob_text:hover {
    color: orange;
}

.knob {
    width: 131px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FA9021;
    transition: transform 0.5s linear;
}

.knob:hover {
    background: #99cc00;
    transform: scale(1.3);
}

.subpanel {
    margin-top: 80px;
}

.game_Dev {
    color: #E87D0E;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155.2%;
}

.first_headtext {
    color: #FFF;
    white-space: pre;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 155.2%;
    margin-bottom: 26px;
}

.subtext_first_headtext {
    color: #FFF;
    white-space: pre;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    margin-bottom: 50px;
}

.subtext_knob {
    width: 195px;
    height: 53px;
    border-radius: 40px;
    background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
    color:  #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    border: none;
    font-weight: 500;
    line-height: normal;   
    transition: transform 0.75s ease;
}

.subtext_knob:hover {
    border-radius: 40px;
    background: linear-gradient(76deg, #FB9E3C 2.08%,  #FA8305 117.25% );
    color:  #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    border: none;
    font-weight: 500;
    line-height: normal;   
    transform: scale(110%);
}

.right_subpanel {
    position: relative;
}

.first_subphoto {
    position: absolute;
    top: -492px;
    right: 147px;

}

.second_subphoto {
    position: absolute;
    top: -507px;
    right: 405px;

}

.third_subphoto {
    position: absolute;
    top: -357px;
    right: 540px;
}

.trand_game_menu {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_trand_game {
    color: #FFF;
    font-family: Rubik;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.5%;
}

.trand_photo {
    transition: transform 1s ease;
}

.trand_photo:hover {
    transform: scale(1.10);
}

.trand_game {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.11);
    width: 139px;
    height: 57px;
    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 187.5%;
    border: none;
    transition: transform 1s linear;
}

.trand_game:hover {
    background: #E87D0E;
    transform: scale(1.15);
}

.trand_game_photo_block {
    display: flex;
    justify-content: space-evenly;
}

.subtext_trand_photo {
    fill: #FFF;
    color: #FFF;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 187.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    transition: transform 1.25s linear;
}

.subtext_trand_photo:hover {
    color: #E87D0E;
    fill: #E87D0E;
    transform: scale(1.05);
}

.spiderman {
    margin-bottom: 100px;
}

.head_lore_texts {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%; 
    white-space: pre;
    margin-top: 129px;
    margin-bottom: 67px;

}

.left_head_lore_text {
    color: #FFF;
    white-space: pre;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%;
    margin-bottom: 32px;
}

.spider_pap {
    position: absolute;
    left: 978px;
    top: 1733px;
    z-index: -1;
}

.spider_text {
    white-space: pre;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    margin-bottom: 46px;
}

.where_can_play {
    background-image: url(/assets/images/home_images/Rectangle\ 5.png);
    height: 881px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head_lore_text {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.5%; 
    margin-top: 93px;
    margin-bottom: 25px;
}

.head_lore_subtext {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    white-space: pre;
    margin-bottom: 84px;
}

.up_block_play {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 62px;
}

.down_block_play {
    display: flex;
    justify-content: space-evenly;
}

.block_play {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_play_photo {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 187.5%;
}

.arro {
    fill: #DC7000;
}

.arro:hover {
  fill: #FFF;  
}


.our_recent {
    margin-bottom: 80px;
}



.our_recent_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_recent_photo1,
.our_recent_photo2,
.our_recent_photo3,
.our_recent_photo4,
.our_recent_photo5,
.our_recent_photo6 {
    transition: transform 1s linear;
}

.our_recent_photo1:hover,
.our_recent_photo2:hover,
.our_recent_photo3:hover,
.our_recent_photo4:hover,
.our_recent_photo5:hover,
.our_recent_photo6:hover {
    transform: scale(1.10);
}

.recret_photo1 {
    display: flex;
    gap: 20px;
    margin-bottom: 33px;
}



.recet_photo2 {
    display: flex;
    gap: 20px;

}



.our_trand {
    margin-top: 50px;
}



.block_down_our_recet {
    width: 1135px;
    height: 189px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #1C140F;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.stay_head_lore_text {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.stay_head_lore_subtext {
    white-space: pre;
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container_for_mail {
    position: relative;
    display: inline-block;
}

.put {
    width: 385.679px;
    height: 48px;
    border-radius: 8px;
    background: #FFF;
    color: #898989;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 14px;
}

.input_button {
    position: absolute;
    top: 16%;
    bottom: 50%;
    right: 7px;
    height: 100%;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 104.996px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #DC7000;
    border: none;
}

.input_button:hover {
    background: linear-gradient(to bottom right, #ff6600 0%,  #ff6699 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease both;
}

@keyframes gradient {
	0% {
		background-position: 0% 10%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.foot_text {
    margin-bottom: 15px;
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.all_foot {
    display: flex;
    justify-content: space-evenly;
}

.left_foot {
    display: flex;
    flex-direction: column;
}


.text_left_foot {
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
white-space: pre;
}

.sub_text_left_foot {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.right_foot_1 {
    display: flex;
    gap: 60px;
}

.down_foot_text {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 186.3%;
    white-space: pre;
    transition: transform 1s linear;
}

.right_foot1 {
    display: flex;
    flex-direction: column;
}

.down_foot_text:hover {
    transform: translateX(10px);
    color: #E47500;
}

.right_foot2 {
    display: flex;
    flex-direction: column;
}

.right_foot3 {
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

.foot_socia {
    width: 39px;
    height: 39px;
    background: #FFF;
    border-radius: 50px;
}


.facebook {
    transition: transform 1s linear;
}

.facebook:hover {
    background: linear-gradient(to top right, #00cc00 0%, #0000ff 100%);
    background-size: 400% 400%;
	animation: gradient 3s ease both;
    transform: scale(1.1);
}

@keyframes gradient {
	0% {
		background-position: 0% 10%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.instagram {
    transition: transform 1s linear;
}

.instagram:hover {
    background: linear-gradient(to bottom right, #0000ff 0%, #ff00ff 100%);
    background-size: 400% 400%;
	animation: gradient 3s ease both;
    transform: scale(1.1);
}

.twitter {
    transition: transform 1s linear;
}

.twitter:hover {
    background: linear-gradient(to bottom right, #000099 0%, #ccccff 100%);
    background-size: 400% 400%;
	animation: gradient 3s ease both;
    transform: scale(1.1);
}

.linkedin {
    transition: transform 1s linear;
}

.linkedin:hover {
    background: linear-gradient(to top right, #000099 0%, #00ccff 100%);
    background-size: 400% 400%;
	animation: gradient 3s ease both;
    transform: scale(1.1);
}



.foot_svv {
    padding: 13px;
}

.foot {
    margin-top: 73px;
    margin-bottom: 56px;
}

.down_text {
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.6%; 
    margin: 15px;
    margin-top: 29px;
    padding-bottom: 29px;
    display: flex;
    justify-content: center;
}
